attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
fonttools==4.63.0
idna==3.18
iniconfig==2.3.0
numpy==2.5.1
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
psd-tools==1.17.4
Pygments==2.20.0
pytest==9.1.1
requests==2.34.2
soupsieve==2.9.1
typing_extensions==4.16.0
urllib3==2.7.0
